@import './shared/fonts';

// pages
@import './index';

html,
body {
  font-family: 'Montserrat', 'Helvetica' !important;
}

.self-typed {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
}